<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.mapper.PhotoMapper">	
	
	<select id="listAllPhoto" resultType="PhotoVO">
		select * from photo where pid=#{pid}
	</select>
	
	<select id="readPhoto" resultType="PhotoVO">
		select * from photo where pno=#{pno}
	</select>
	
	<insert id="insertPhoto">
		insert into photo(pid,photoName) values(#{pid},#{photoName})
	</insert>
	
	<delete id="deletePhoto">
		delete from photo where pno=#{pno}
	</delete>
</mapper>